.radio {
  display: inline-block;
  cursor: pointer;

  position: relative;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked + span {
      border-bottom-color: #4285f4;
    }
  }

  span {
    display: inline-block;

    position: relative;
    z-index: 1;

    padding: 15px;

    border-bottom: 3px solid transparent;
  }
}
